
<div class="ui inverted stackable menu">
  <div class="ui container">
    <%= link_to "Home", root_path, class: "item" %>
    <a class="item">
      Messages
    </a>
    <a class="item">
      Friends
    </a>
    <div class="right menu">
      <%= link_to "Log in", login_path, class: "ui item" %>
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
</div>
